*{
    color: #4b4946;
    background-color: white;
    font-size: 15px;
    font-family: 'Lora' ;
}
header {
    padding-top: 0px;
}
#logo {
    text-align: center;
    
    
}
body {
    margin: 0 auto;
    padding: 30px;
}

nav ul {
    text-align: center;
    /* background-color: white; */
}

a { 
    text-decoration: none;
}

nav li {
    display: inline-block;
    list-style-type: none;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 15px;
    font-family: 'Lora' ;
    font-weight: bold;

}

main {
    width: 60%;
    margin: 0 auto;
    padding-top: 2px;
    text-align: center;
    line-height: 23px;
    /* background-color: blue; */

}

p {
    padding-top: 40px;
    margin-left: 30px;
    margin-right: 30px;

}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}

#topten {
    float: left;
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;

}

#jobhistory {
    float: right;
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;
}